#gitRepo/classPlans

#ingles-basico
ingles-basico.aux
ingles-basico.dvi
ingles-basico.log
ingles-basico.pdf
ingles-basico.synctex.gz
ingles-basico.tex.bak

#powerpointClasses
powerpointClasses.aux
powerpointClasses.dvi
powerpointClasses.log
powerpointClasses.pdf
powerpointClasses.synctex.gz
powerpointClasses.tex.bak