#gitRepo/classPlans

#ingles-basico
ingles-basico.aux
ingles-basico.dvi
ingles-basico.log
ingles-basico.out
ingles-basico.pdf
ingles-basico.synctex.gz
ingles-basico.tex.bak

#powerpointClasses
powerpointClasses.aux
powerpointClasses.dvi
powerpointClasses.log
powerpointClasses.out
powerpointClasses.pdf
powerpointClasses.synctex.gz
powerpointClasses.tex.bak

#java
java.aux
java.dvi
java.log
java.out
java.pdf
java.synctex.gz
java.tex.bak

#c
c.aux
c.dvi
c.log
c.out
c.pdf
c.synctex.gz
c.tex.bak

#slides
PicCard.pptx
